html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: lightgray;
}

h3 {
    margin: 0;
}

#picker-container {
    position: absolute;
    top: 0;
}

#picker {
    border: 2px solid #000;
    height: 25px;
}

#picker-info {
    position: absolute;
    top: 0;
    left: 0;
}

#picker-branch-img, #picker-branch-img2 {
    height: 100px;
    /* width: 100px; */
}

#circle {
    display: none;
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #39ff14;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 10px #000;
    outline: 1px solid #000;
}

#portrait_blocker {
    display: none;
    background-color: lightgray;
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media (any-pointer: coarse) {
    @media screen and (max-width: 600px) {
        #portrait_blocker {
            display: flex;
        }

        #picker-container {
            display: none;
        }

        #picker-info, #picker-name, #picker-branch-img, #picker-branch-img2 {
            display: none;
        }

        #circle {
            display: none !important;
        }
    }

    #picker-container {
        right: 0;
    }
}